@model IEnumerable<Web.Agenda.Models.TarefaMod>

@{
    ViewBag.Title = "Listar Todas Tarefas";
}

<h2>Listar Todas Tarefas</h2>

<p>
    @Html.ActionLink("Cadastra Nova Tarefa", "NovaTarefa","Home", new {@class="btn btn-primary disabled" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prioridade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concluido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prioridade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concluido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Excluir", "Excluir", new { id = item.Id } , new {@class= "btn btn-primary" })
        </td>
    </tr>
}

</table>
